.el-container {
  height: 100%;
  // border: 1px solid #eee
}

.Layout {
  width: 100%;
  height: 100%;
}

.Layout-left {
  width: 200px;
  height: 100%;
  ul{
    height: 100%;
    overflow: hidden;
  }
}
// 头像信息
.userInfo{
  height: 56px;
  line-height: 56px;
  text-align: center;
  color: #fff;
}